.calendar {
  width: 706px;
  display: flex;
  margin: auto;
  flex-flow: row wrap;
  justify-content: flex-start;
  padding-top: 7vh;
}

.calendar-28 div:nth-child(1) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(1)::after {
  content: "1";
}
.calendar-28 div:nth-child(1):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(2) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(2)::after {
  content: "2";
}
.calendar-28 div:nth-child(2):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(3) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(3)::after {
  content: "3";
}
.calendar-28 div:nth-child(3):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(4) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(4)::after {
  content: "4";
}
.calendar-28 div:nth-child(4):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(5) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(5)::after {
  content: "5";
}
.calendar-28 div:nth-child(5):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(6) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(6)::after {
  content: "6";
}
.calendar-28 div:nth-child(6):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(7) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(7)::after {
  content: "7";
}
.calendar-28 div:nth-child(7):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(8) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(8)::after {
  content: "8";
}
.calendar-28 div:nth-child(8):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(9) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(9)::after {
  content: "9";
}
.calendar-28 div:nth-child(9):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(10) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(10)::after {
  content: "10";
}
.calendar-28 div:nth-child(10):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(11) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(11)::after {
  content: "11";
}
.calendar-28 div:nth-child(11):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(12) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(12)::after {
  content: "12";
}
.calendar-28 div:nth-child(12):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(13) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(13)::after {
  content: "13";
}
.calendar-28 div:nth-child(13):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(14) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(14)::after {
  content: "14";
}
.calendar-28 div:nth-child(14):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(15) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(15)::after {
  content: "15";
}
.calendar-28 div:nth-child(15):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(16) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(16)::after {
  content: "16";
}
.calendar-28 div:nth-child(16):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(17) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(17)::after {
  content: "17";
}
.calendar-28 div:nth-child(17):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(18) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(18)::after {
  content: "18";
}
.calendar-28 div:nth-child(18):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(19) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(19)::after {
  content: "19";
}
.calendar-28 div:nth-child(19):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(20) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(20)::after {
  content: "20";
}
.calendar-28 div:nth-child(20):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(21) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(21)::after {
  content: "21";
}
.calendar-28 div:nth-child(21):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(22) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(22)::after {
  content: "22";
}
.calendar-28 div:nth-child(22):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(23) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(23)::after {
  content: "23";
}
.calendar-28 div:nth-child(23):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(24) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(24)::after {
  content: "24";
}
.calendar-28 div:nth-child(24):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(25) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(25)::after {
  content: "25";
}
.calendar-28 div:nth-child(25):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(26) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(26)::after {
  content: "26";
}
.calendar-28 div:nth-child(26):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(27) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(27)::after {
  content: "27";
}
.calendar-28 div:nth-child(27):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-28 div:nth-child(28) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-28 div:nth-child(28)::after {
  content: "28";
}
.calendar-28 div:nth-child(28):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(1) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(1)::after {
  content: "1";
}
.calendar-29 div:nth-child(1):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(2) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(2)::after {
  content: "2";
}
.calendar-29 div:nth-child(2):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(3) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(3)::after {
  content: "3";
}
.calendar-29 div:nth-child(3):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(4) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(4)::after {
  content: "4";
}
.calendar-29 div:nth-child(4):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(5) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(5)::after {
  content: "5";
}
.calendar-29 div:nth-child(5):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(6) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(6)::after {
  content: "6";
}
.calendar-29 div:nth-child(6):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(7) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(7)::after {
  content: "7";
}
.calendar-29 div:nth-child(7):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(8) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(8)::after {
  content: "8";
}
.calendar-29 div:nth-child(8):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(9) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(9)::after {
  content: "9";
}
.calendar-29 div:nth-child(9):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(10) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(10)::after {
  content: "10";
}
.calendar-29 div:nth-child(10):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(11) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(11)::after {
  content: "11";
}
.calendar-29 div:nth-child(11):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(12) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(12)::after {
  content: "12";
}
.calendar-29 div:nth-child(12):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(13) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(13)::after {
  content: "13";
}
.calendar-29 div:nth-child(13):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(14) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(14)::after {
  content: "14";
}
.calendar-29 div:nth-child(14):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(15) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(15)::after {
  content: "15";
}
.calendar-29 div:nth-child(15):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(16) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(16)::after {
  content: "16";
}
.calendar-29 div:nth-child(16):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(17) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(17)::after {
  content: "17";
}
.calendar-29 div:nth-child(17):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(18) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(18)::after {
  content: "18";
}
.calendar-29 div:nth-child(18):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(19) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(19)::after {
  content: "19";
}
.calendar-29 div:nth-child(19):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(20) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(20)::after {
  content: "20";
}
.calendar-29 div:nth-child(20):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(21) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(21)::after {
  content: "21";
}
.calendar-29 div:nth-child(21):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(22) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(22)::after {
  content: "22";
}
.calendar-29 div:nth-child(22):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(23) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(23)::after {
  content: "23";
}
.calendar-29 div:nth-child(23):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(24) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(24)::after {
  content: "24";
}
.calendar-29 div:nth-child(24):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(25) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(25)::after {
  content: "25";
}
.calendar-29 div:nth-child(25):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(26) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(26)::after {
  content: "26";
}
.calendar-29 div:nth-child(26):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(27) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(27)::after {
  content: "27";
}
.calendar-29 div:nth-child(27):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(28) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(28)::after {
  content: "28";
}
.calendar-29 div:nth-child(28):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-29 div:nth-child(29) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-29 div:nth-child(29)::after {
  content: "29";
}
.calendar-29 div:nth-child(29):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(1) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(1)::after {
  content: "1";
}
.calendar-30 div:nth-child(1):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(2) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(2)::after {
  content: "2";
}
.calendar-30 div:nth-child(2):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(3) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(3)::after {
  content: "3";
}
.calendar-30 div:nth-child(3):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(4) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(4)::after {
  content: "4";
}
.calendar-30 div:nth-child(4):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(5) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(5)::after {
  content: "5";
}
.calendar-30 div:nth-child(5):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(6) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(6)::after {
  content: "6";
}
.calendar-30 div:nth-child(6):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(7) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(7)::after {
  content: "7";
}
.calendar-30 div:nth-child(7):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(8) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(8)::after {
  content: "8";
}
.calendar-30 div:nth-child(8):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(9) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(9)::after {
  content: "9";
}
.calendar-30 div:nth-child(9):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(10) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(10)::after {
  content: "10";
}
.calendar-30 div:nth-child(10):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(11) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(11)::after {
  content: "11";
}
.calendar-30 div:nth-child(11):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(12) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(12)::after {
  content: "12";
}
.calendar-30 div:nth-child(12):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(13) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(13)::after {
  content: "13";
}
.calendar-30 div:nth-child(13):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(14) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(14)::after {
  content: "14";
}
.calendar-30 div:nth-child(14):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(15) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(15)::after {
  content: "15";
}
.calendar-30 div:nth-child(15):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(16) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(16)::after {
  content: "16";
}
.calendar-30 div:nth-child(16):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(17) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(17)::after {
  content: "17";
}
.calendar-30 div:nth-child(17):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(18) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(18)::after {
  content: "18";
}
.calendar-30 div:nth-child(18):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(19) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(19)::after {
  content: "19";
}
.calendar-30 div:nth-child(19):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(20) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(20)::after {
  content: "20";
}
.calendar-30 div:nth-child(20):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(21) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(21)::after {
  content: "21";
}
.calendar-30 div:nth-child(21):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(22) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(22)::after {
  content: "22";
}
.calendar-30 div:nth-child(22):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(23) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(23)::after {
  content: "23";
}
.calendar-30 div:nth-child(23):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(24) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(24)::after {
  content: "24";
}
.calendar-30 div:nth-child(24):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(25) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(25)::after {
  content: "25";
}
.calendar-30 div:nth-child(25):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(26) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(26)::after {
  content: "26";
}
.calendar-30 div:nth-child(26):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(27) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(27)::after {
  content: "27";
}
.calendar-30 div:nth-child(27):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(28) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(28)::after {
  content: "28";
}
.calendar-30 div:nth-child(28):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(29) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(29)::after {
  content: "29";
}
.calendar-30 div:nth-child(29):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-30 div:nth-child(30) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-30 div:nth-child(30)::after {
  content: "30";
}
.calendar-30 div:nth-child(30):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(1) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(1)::after {
  content: "1";
}
.calendar-31 div:nth-child(1):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(2) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(2)::after {
  content: "2";
}
.calendar-31 div:nth-child(2):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(3) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(3)::after {
  content: "3";
}
.calendar-31 div:nth-child(3):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(4) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(4)::after {
  content: "4";
}
.calendar-31 div:nth-child(4):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(5) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(5)::after {
  content: "5";
}
.calendar-31 div:nth-child(5):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(6) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(6)::after {
  content: "6";
}
.calendar-31 div:nth-child(6):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(7) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(7)::after {
  content: "7";
}
.calendar-31 div:nth-child(7):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(8) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(8)::after {
  content: "8";
}
.calendar-31 div:nth-child(8):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(9) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(9)::after {
  content: "9";
}
.calendar-31 div:nth-child(9):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(10) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(10)::after {
  content: "10";
}
.calendar-31 div:nth-child(10):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(11) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(11)::after {
  content: "11";
}
.calendar-31 div:nth-child(11):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(12) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(12)::after {
  content: "12";
}
.calendar-31 div:nth-child(12):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(13) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(13)::after {
  content: "13";
}
.calendar-31 div:nth-child(13):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(14) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(14)::after {
  content: "14";
}
.calendar-31 div:nth-child(14):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(15) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(15)::after {
  content: "15";
}
.calendar-31 div:nth-child(15):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(16) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(16)::after {
  content: "16";
}
.calendar-31 div:nth-child(16):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(17) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(17)::after {
  content: "17";
}
.calendar-31 div:nth-child(17):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(18) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(18)::after {
  content: "18";
}
.calendar-31 div:nth-child(18):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(19) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(19)::after {
  content: "19";
}
.calendar-31 div:nth-child(19):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(20) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(20)::after {
  content: "20";
}
.calendar-31 div:nth-child(20):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(21) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(21)::after {
  content: "21";
}
.calendar-31 div:nth-child(21):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(22) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(22)::after {
  content: "22";
}
.calendar-31 div:nth-child(22):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(23) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(23)::after {
  content: "23";
}
.calendar-31 div:nth-child(23):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(24) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(24)::after {
  content: "24";
}
.calendar-31 div:nth-child(24):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(25) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(25)::after {
  content: "25";
}
.calendar-31 div:nth-child(25):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(26) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(26)::after {
  content: "26";
}
.calendar-31 div:nth-child(26):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(27) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(27)::after {
  content: "27";
}
.calendar-31 div:nth-child(27):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(28) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(28)::after {
  content: "28";
}
.calendar-31 div:nth-child(28):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(29) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(29)::after {
  content: "29";
}
.calendar-31 div:nth-child(29):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(30) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(30)::after {
  content: "30";
}
.calendar-31 div:nth-child(30):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-31 div:nth-child(31) {
  width: 100px;
  height: 100px;
  margin: 0 1px 1px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #000;
  background-color: #eee;
  transition: background-color 0.5s, transform 0.5s;
}
.calendar-31 div:nth-child(31)::after {
  content: "31";
}
.calendar-31 div:nth-child(31):hover {
  background-color: #c57f9a;
  cursor: pointer;
  transform: translate(0, -20px);
}

.calendar-mon div:first-child {
  margin-left: 0;
}

.calendar-tue div:first-child {
  margin-left: 101px;
}

.calendar-wed div:first-child {
  margin-left: 202px;
}

.calendar-thu div:first-child {
  margin-left: 303px;
}

.calendar-fri div:first-child {
  margin-left: 404px;
}

.calendar-sat div:first-child {
  margin-left: 505px;
}

.calendar-sun div:first-child {
  margin-left: 606px;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 30px;
  font-family: arial, sans-serif;
}

body {
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
